[submodule "gptx-api-backend"]
	path = gptx-api-backend
	url = https://github.com/prettygoodapps/gptx-api-backend
[submodule "gptx-community"]
	path = gptx-community
	url = https://github.com/prettygoodapps/gptx-community
[submodule "gptx-contracts"]
	path = gptx-contracts
	url = https://github.com/prettygoodapps/gptx-contracts
[submodule "gptx-devops"]
	path = gptx-devops
	url = https://github.com/prettygoodapps/gptx-devops
[submodule "gptx-exchange-dapp"]
	path = gptx-exchange-dapp
	url = https://github.com/prettygoodapps/gptx-exchange-dapp
[submodule "gptx-green-ledger"]
	path = gptx-green-ledger
	url = https://github.com/prettygoodapps/gptx-green-ledger
